<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--打分查询明细-->
<mapper namespace="com.spider.dao.UserDao">

    <!-- selectUserById(int id);-->
    <select id="" resultType="ZzUser" parameterType="long">
        select * from zz_user where id=#{id}
    </select>

</mapper>