body {
    overflow: hidden;
    margin: 0;
}
.toptitle, .topnav, .pagenav, .leftmenu_b {
    font-family: SimHei;
}
/** {
    font-family:SimHei;
}*/
/*顶部*/
/*.pagetop {height: 150px;position: relative;background-color: #031bc6; background: url(/content/img/topbg.jpg);}*/
.pagetop {height: 138px;position: relative; background: url(/content/img/topbg002.jpg);}
.pagetop .toptool {position: absolute;top: 0;width: 18%;height: 30px;color:white;padding-top:4px}
.pagetop .toptool.left {left: 0;padding-left: 10px; background: url(/Content/img/duty/blue2.png);background-position-x: right; }
.pagetop .toptool.right {right: 0;background: url(/Content/img/duty/blue3.png);background-position-x: left;}
.pagetop .toptitle {text-align: center;color: white;letter-spacing:6px;font-size:35px;padding-top: 5px;/*padding-bottom: 8px;*/}
.pagetop .toptitle .titlebg {background: url(/Content/img/layout/bbg.png) no-repeat scroll 0% 0% / 100% 100%;display:inline-block;padding-left: 5%;padding-right: 5%;}
.topnav {text-align: center;color: white;font-size: 12px;width: 100%;position: absolute;bottom:0;height: 80px;}
.topnav span {display: inline-block;/*padding: 10px 0px;*/width: 200px;}
.topnav a {color:white;}
.topnav :hover {background-color: rgba(255,255,255,0.1);cursor: pointer;}
/*.topnav :hover img {box-shadow: 0px 0px 20px 1px #fff;background-color: rgba(255,255,255,.55);transform: scale(1.1,1.1);}*/
.topnav span.active img {box-shadow: 0px 0px 20px 1px #fff;background-color: rgba(255,255,255,.55);}
.topnav span.active {background-color: rgba(255,255,255,0.1);}
.topnav span img {display: block;margin: auto;margin-bottom: 10px;}
.b-breadcrumb {background-color:rgb(0,85,210);color:white !important;list-style: none;line-height:22px;margin-bottom:0px}
.b-breadcrumb a {color: white;text-decoration:none}
.b-breadcrumb > .active {color: orange;}
.b-breadcrumb>li {display: inline-block;}
.b-breadcrumb > li + li:before {padding: 0 5px;color: #ccc;content: "/\00a0";}

/*中间内容*/
.row.pnr {padding: 0 5px;}
.nr {padding: 10px;}
.nr .b-panel {border-radius: 10px;border: 1px solid #0255ec;margin-bottom: 0;}
.nr .b-panel .b-panel-body {padding: 0;}
.nr .b-panel .b-panel-heading {height: 33px;padding: 5px 15px;color: white !important;}
.nr .b-panel .b-panel-heading.bgblue {background: url("/Content/img/bg_panel_02.png") round;height: 30px;/*background-repeat: no-repeat;background-size: cover;*/}
.nr .b-panel .b-panel-heading.bgred {background: url("/Content/img/bg_panel_01.png") round;background-size: cover;}
.nr .b-panel .b-panel-heading.fcen {text-align: center;}
.b-panel_hand.l1 {width: 65%;float:left}
.b-panel_hand.r1 {width: 15%;float:right;text-align:right;}
.b-panel_hand.r1 a{font-family:SimHei;color:white !important;text-decoration:none;}
.nr .b-panel .b-panel-heading img {width: 25px;vertical-align: bottom;padding-right: 5px;}
.pagecontent {background-color:rgb(212,234,255)}
.container {padding:0px 20px;position: relative;width:100%;}
.b-panel-body { border-radius:0 0 10px 10px}

/*首页中的表格*/
.ptable {width:96%; overflow:hidden;margin:8px;border:1px solid #0094ff;font-size:12px;font-family:"宋体";line-height:23px;text-align:left}
/*.ptable td {padding-left:15px}*/
.ptable td {padding-left:10px}
.ptable tbody tr:nth-child(odd) {background-color:rgb(244,249,255);}
.ptable tbody tr:nth-child(even) {background-color:rgb(255,255,255);}
.ptable thead tr {background-color:rgb(49,197,49);color:white}
/*.ptable tbody td{text-overflow:clip;white-space: nowrap;overflow: hidden;-webkit-line-clamp:1;-webkit-box-orient: vertical;left:auto;  }*/
.tdhide {-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;/*display: -webkit-inline-box;*/}

/*左菜单*/
.pageMenu {margin-left: -10px;width: 200px;height: 640px;background-color: #0058B2;position: absolute;z-index: 200;top: 0px;}
.pagebody {right: 0;top: 0; }
/*.pagebody a {
    color:blue !important;
}*/
* {margin: 0;padding: 0;}
/*ul, li {list-style: none;}*/
.list a:link, .list a:visited {
    text-decoration: none;
    color: #fff;
}
.list {width: 200px;border-bottom: solid 1px #316a91;margin: 0px auto 0 auto;}
.list ul li {border-bottom: 0;list-style:none;line-height:35px;padding:6px 6px 0px 6px;}
.list ul li table {width:100%;border:1px solid #236FBC;background-color:#0058B2;}
.list ul li table tr td:nth-child(odd) {text-align:left;width: 80%;padding-right: 5px;}
.list ul li table tr td:nth-child(even) {text-align:right;width: 20%;padding-right: 5px;}
.list ul li table tr td a {padding-left: 10px;color: #fff;font-weight: bold;height: 36px;line-height: 36px;position: relative;/*display: block;*/}
.list ul li table tr td .inactive {background: url(images/off.png) no-repeat 184px center;}
.list ul li table tr td .inactives {background: url(images/on.png) no-repeat 184px center;}
.list ul li ul {display: none;}
.list ul li ul li table {border:0;}
.list ul li ul li img {vertical-align:bottom;}
.list ul li ul li {border-left: 0;border-right: 0;padding: 0px 0px 0px 10px;}
.list ul li ul li ul {display: none;}
.list ul li ul li a {padding-left: 10px;}
.list ul li ul li ul li {border-left: 0;border-right: 0;padding: 0px 0px 0px 10px;}
.last {/*background-color: #178FFF;border-color: #6196bb;*/text-decoration: none;}
.list ul li ul li ul li a {color: #fff;padding-left: 10px;}

/*左菜单*/
.fadeInLeft {
    background-color: #0058B2;
    float: left;
}

.menuson_b {
    display: none;
    padding-left:38px;
}

.sub-menus {
    display: none;
}

.leftmenu_b {
    height: 100%;
    margin-bottom: 0px;
}

    .leftmenu_b dl {
        margin-bottom: 0px;
    }

    .leftmenu_b dd {
        background-color: #0058B2;
        line-height: 35px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        padding: 8px 10px 0px 6px;
    }

        .leftmenu_b dd ul {
            margin-bottom: 0px;
        }

        .leftmenu_b dd .title {
            display: flex;
            border: 1px solid #236FBC;
        }

        .leftmenu_b dd span {
            float: left;
            margin: 0px 10px 0 10px;
        }

        .leftmenu_b dd .menuson_b .hv {
            font-weight: 700;
            padding-left: 10%;
        }

        .leftmenu_b dd ul li {
            padding: 0px 0px 0px 10px;
            list-style: none;
        }

            .leftmenu_b dd ul li a {
                color: white;
            }

            .leftmenu_b dd ul li ul li a {
                color: white;
                font-weight: 100;
            }

/*滚动*/
.banner {position:relative; width:100%; height:100%; border:1px solid #666; overflow:hidden;}
.banner .banner_list img {border:0px;}
.banner .banner_bg {position:absolute; bottom:0;background-color:#000;height:30px;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000;cursor:pointer; width:900px; }
.banner .banner_info{position:absolute; bottom:0; left:5px; line-height:30px;color:#fff;z-index:1001}
.banner ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=75);opacity:0.75;z-index:1002;margin:0; padding:0; bottom:3px; right:5px;}
.banner ul li { padding:0px 8px;float:left;display:block;color:#FFF;background-color:#6f4f67;cursor:pointer}
.banner ul li.on{ background-color:#900}
.banner .banner_list a{position:absolute;}
h2 {
    display: block;
    font-size: 1.5em; 
    -webkit-margin-start: 0px; 
    font-weight: bold;
}
a {
    color: blue;
} 
/*自适应分辨率*/
@media screen and (max-width: 1920px) {
    .pagetop .toptitle {font-size:38px;}
}

@media screen and (max-width: 1366px) {
    .pagetop .toptitle {font-size:35px;}
}

@media screen and (max-width: 1280px) {
    .pagetop .toptitle {font-size:32px;}
}

@media screen and (max-width: 1024px) {
    .pagetop .toptitle {font-size:28px;}
}
