<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfl.myproject.dao.UserRegistDao">

    <select id="selectUserByEmail" resultType="com.cfl.myproject.entity.User">
        select id,username,password,salt,phone,email,ip,last_login_time,create_time,delete_time,update_time from jd.user
        where status=0 and jd.user.delete=0 and email=#{email}
    </select>

    <insert id="insertUser" parameterType="com.cfl.myproject.entity.User">
        insert into jd.user(id, username, password, salt, phone, email, status, ip, create_time,jd.user.delete)
        value(null, #{username}, #{password}, #{salt}, #{phone}, #{email}, #{status}, #{ip}, #{createTime},0);
    </insert>

    <select id="selectUserByNameOrEmailOrPhone" resultType="com.cfl.myproject.entity.User">
        select id,username,password,salt,phone,email,status,ip,last_login_time,create_time,delete_time,update_time from jd.user
        where status=0 and jd.user.delete=0 and (username=#{loginUsername} or email=#{loginUsername} or phone=#{loginUsername})
    </select>

</mapper>